<li id="<%= dom_id(chirp) %>">
  <span class="user"><%#= link_to chirp.user.email, chirp.user %> <%= chirp.user.email %></span>
  <span class="content"><%= chirp.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(chirp.created_at) %> ago
  </span>
  <% if current_user.admin? %>
    <%= link_to 'Delete', chirp, method: :delete, data: { confirm: 'Are you sure?'} %>
  <% end %>
</li>
