<div class="row">
  <% if @blog.comments.count > 0 %>
    <div class="small-10 columns medium-10 columns large-10 columns">
      <header><h5>Comments</h5></header>
      <% @blog.comments.desc.each do |comment| %>
        <% unless comment.body.empty? %>
          <div class="panel" id="<%= dom_id(comment) %>">
              <%= comment.body %> <br>
              <span><%= comment.user.email %></span>

            <% if current_user.admin? %>
              <%= link_to 'Edit', edit_blog_comment_path(@blog, comment) %>
              <%= link_to 'Destroy', ([@blog, comment]), method: :delete, data: { confirm: 'Are you sure?'} %>
            <% end %>
          </div>
        <% end %>
      <% end %>
  <% else %>
    <section class="commentbox">
    <h6>Be The First To Comment.</h6>
    </section>
    </div>
  <% end %>
</div>
