<p id="notice"><%= notice %></p>

<p>
  <strong>Trade opened at:</strong>
  <%= @trade_log.trade_opened_at %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @trade_log.symbol %>
</p>

<p>
  <strong>Position size:</strong>
  <%= @trade_log.position_size %>
</p>

<p>
  <strong>Entry price:</strong>
  <%= @trade_log.entry_price %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @trade_log.stop %>
</p>

<p>
  <strong>Target:</strong>
  <%= @trade_log.target %>
</p>

<p>
  <strong>Exit one on:</strong>
  <%= @trade_log.exit_one_on %>
</p>

<p>
  <strong>Exit one price:</strong>
  <%= @trade_log.exit_one_price %>
</p>

<p>
  <strong>Exit two on:</strong>
  <%= @trade_log.exit_two_on %>
</p>

<p>
  <strong>Exit two price:</strong>
  <%= @trade_log.exit_two_price %>
</p>

<p>
  <strong>Exit three on:</strong>
  <%= @trade_log.exit_three_on %>
</p>

<p>
  <strong>Exit three price:</strong>
  <%= @trade_log.exit_three_price %>
</p>

<p>
  <strong>Avg profit:</strong>
  <!-- Calculate -->
</p>

<%= link_to 'Edit', edit_trade_log_path(@trade_log) %> |
<%= link_to 'Back', trade_logs_path %>
